#nav{
	background: #a41438;
	min-width: 40px;
	height: 30px;
	padding: 0 5px 0 10px;
	position: absolute;
	top: 386px;
}

#nav a.service{
	font-size: 2.5em;
	line-height: 0.75em;
	color:#fff;
	text-decoration: none;
	padding-right: 5px;
}

#nav a.activeSlide{
	color:#c4b39a;
}